.sign-up-done{
    display:flex;
    justify-content:center;
    flex-flow:column nowrap;
    text-align:center;
    align-items: center;
    color:black;
    font-size:50px;
    height:100vh;
}

.small{
    margin-top:40px;
    font-size:20px;
    border-bottom:2px black solid;
}